<div class="navbar">
    <ul>
        <a routerLink="companies-products" (click)="selectPage('companies-products')" [ngClass]="{'navbar-selected': selectedPage === 'companies-products'}">
            <li>Preduzeća i artikli</li>
        </a>
        <a routerLink="account" (click)="selectPage('account')" [ngClass]="{'navbar-selected': selectedPage === 'account'}">
            <li>Pregled računa</li>
        </a>
        <a routerLink="customer-pw-change" (click)="selectPage('customer-pw-change')" [ngClass]="{'navbar-selected': selectedPage === 'customer-pw-change'}">
            <li>Promena lozinke</li>
        </a>
    </ul>
</div>

<div class="content">
    <router-outlet></router-outlet>
</div>

<div class="page-bottom">
    <button class="logout-button" (click)="logout()">Izloguj se</button>
</div>
