.body-container {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    justify-content: space-between;
    color: #FFF; 
}

.header {
    background-color: #3D4C41;
    display: flex;
    align-items: center;
    font-size: 3rem;
}

.content {
    background-color: #E6E6E6;
    flex: 1 1 0;
}

.footer {
    background-color: #3D4C41;
    color: lightgray;
    text-align: center;
    padding: 1rem 0;
}