.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: black;
}

.message {
    display: flex;
    margin-bottom: 1em;
}

button {
    cursor: pointer;
    padding: .5em;
    border-radius: 3px;
    color: white;
    background-color: gray;
    margin: .5em;
}