.container {
    display: flex;
    justify-content: space-around;
}

@media (max-width: 1500px) {
    .container {
        flex-direction: column;
    }
}

.table-header {
    display: flex;
    margin-top: 1.5em;
    margin-bottom: 1em;
}

.table-header button {    
    background-color: gray;
    cursor: pointer;
    color: white;
    padding: .2em 3em;
    font-size: .9rem;
}

.table-container {
    color: black;
    margin: 1.5rem;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.table-row-number {
    margin-bottom: .5em;
    margin-right: 22em;
}

.table-element {
    padding-right: 2em;
    padding-bottom: .5em;
}

.table-nav {
    display: flex;
    justify-content: center;
    align-items: center;
}

.table-nav-button {
    margin: 1em;
    padding: 1em;
    font-weight: bold;
    cursor: pointer;
}

.table-button {
    background-color: gray;
    cursor: pointer;
    color: white;
    padding: .5em;
}

/* Add new product form */
.new-product-container {
    margin: 1.5rem;
}

.nav-item {
    background-color: gray;
    padding: 1em 2em;
    height: 100%;
    color: white;
    font-size: 1rem;
}

.nav-item:hover {
    cursor: pointer;
    background-color: lightgray;
}

.nav-selected {
    background-color: lightgray;
}

.new-product-window {
    background-color: lightgray;
}

.new-product-general {
    display: flex;
    flex-direction: column;
    padding: 2em;
}

.tax-label {
    color: black;
    font-size: 0.9rem;
    margin-bottom: 0.2em;
}

.new-product-type {
    display: flex;
}

.new-product-type span {
    margin-right: 0.2em;
}
.new-product-type label {
    margin-right: 1em;
}

.new-product-general-item {
    padding: .5em;
    margin-bottom: .5em;
}

.new-product-prices {
    color: black;
    padding: .5em;
}
.new-product-prices button {
    cursor: pointer;
    padding: .5em;
}
.new-product-prices ul {
    list-style: none;
}
.new-product-prices ul li{
    margin-bottom: .5em;
}

.new-product-prices-input {
    display: flex;
}
.new-product-prices-input-item {
    margin: .2em;
    padding: .2em
}

.message-container {
    background-color: lightgray;
    color: red;
    display: flex;
    justify-content: center;
}

.button-container {
    background-color: lightgray;
    display: flex;
    justify-content: center;
}
.button-container button {
    padding: .5em;
    font-size: 1rem;
    color: white;
    background-color: gray;
    margin: 1em;
    cursor: pointer;
}

.image-input {
    background-color: lightgray;
    padding-left: 1em;
}

.image-container {
    width: 50px;
    height: 50px;
    margin-right: 10px;
}

.image-container img {
    width: 100%;
    height: 100%;
}