<div class="container">
    <div class="nav">
        <button (click)="selectNavItem()">
            <div class="nav-item" [ngClass]="{ 'nav-selected': mainWindow }">
                Opšti podaci
            </div>
        </button>
        <button (click)="selectNavItem()">
            <div class="nav-item" [ngClass]="{ 'nav-selected': !mainWindow }">
                Dodatni podaci
            </div>
        </button>
    </div>
    <div class="main-window" *ngIf="mainWindow">
        <div class="logo window-item">
            <img src="{{company.logo}}" alt="logo">
        </div>
        <div class="info window-item">
            <div class="info-col info-labels">
                <div class="info-col-item">Ime preduzeća:</div>
                <div class="info-col-item">Odgovorno lice:</div>
                <div class="info-col-item">Telefon:</div>
                <div class="info-col-item">E-mail:</div>
                <div class="info-col-item">Adresa:</div>
                <div class="info-col-item">PIB:</div>
                <div class="info-col-item">MB:</div>
                <div class="info-col-item">Kategorija:</div>
                <div class="info-col-item">PDV:</div>
                <div class="info-col-item">Status:</div>
            </div>
            <div class="info-col info-data">
                <div class="info-col-item">{{ company.name }}</div>
                <div class="info-col-item">{{ company.repName }}</div>
                <div class="info-col-item">{{ company.phone }}</div>
                <div class="info-col-item">{{ company.email }}</div>
                <div class="info-col-item">{{ company.address }}</div>
                <div class="info-col-item">{{ company.pib }}</div>
                <div class="info-col-item">{{ company.mb }}</div>
                <div class="info-col-item">{{ company.category }}</div>
                <div class="info-col-item">{{ pdv() }}</div>
                <div class="info-col-item">{{ company.status }}</div>
            </div>
        </div>
    </div>

    <div class="main-window" *ngIf="!mainWindow">
        <div class="logo window-item">
            <img src="{{company.logo}}" alt="logo">
        </div>

        <div class="info-second-window">
            <div class="second-window-item">
                <div class="info-unit">
                    <div class="info-unit-item info-unit-label">Šifre delatnosti:</div>
                    <div class="info-unit-item info-col">
                        <ul *ngFor="let activityCode of company.activityCodes">
                            <li>{{ activityCode }}</li>
                        </ul>
                    </div>
                </div>
            </div>


            <div class="second-window-item">
                <div class="info-unit">
                    <div class="info-unit-item info-unit-label">Žiro računi:</div>
                    <div class="info-unit-item info-col">
                        <div class="double-list">
                            <div class="info-unit-item info-col">
                                <ul *ngFor="let bankAccount of company.bankAccounts">
                                    <li>{{ bankAccount.bankName }}</li>
                                </ul>
                            </div>
                            <div class="info-unit-item info-col">
                                <ul *ngFor="let bankAccount of company.bankAccounts">
                                    <li>{{ bankAccount.bankNumber }}</li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>


            <div class="second-window-item">
                <div class="info-unit">
                    <div class="info-unit-item info-unit-label">Magacini:</div>
                    <div class="info-unit-item info-col">
                        <div class="double-list">
                            <div class="info-unit-item info-col">
                                <ul *ngFor="let warehouse of company.warehouses">
                                    <li>{{ warehouse.warehouseId }}</li>
                                </ul>
                            </div>
                            <div class="info-unit-item info-col">
                                <ul *ngFor="let warehouse of company.warehouses">
                                    <li>{{ warehouse.warehouseName }}</li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>


            <div class="second-window-item">
                <div class="info-unit">
                    <div class="info-unit-item info-unit-label">Fiskalne kase:</div>
                    <div class="info-unit-item info-col">
                        <div class="double-list">
                            <div class="info-unit-item info-col">
                                <ul *ngFor="let cashRegister of company.cashRegisters">
                                    <li>{{ cashRegister.cashRegisterLocation }}</li>
                                </ul>
                            </div>
                            <div class="info-unit-item info-col">
                                <ul *ngFor="let cashRegister of company.cashRegisters">
                                    <li>{{ cashRegister.cashRegisterType }}</li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>

    <div class="back-button-container">
        <button class="back-button" (click)="backToRequests()">Nazad</button>
    </div>