<div class="container">
    <div class="receipts">
        <h3>Poslednjih 5 racuna</h3>
        <br>
        <p>Preduzece: Preduzece 1</p>
        <p>Stavka 1 - 5000,00</p>
        <p>Stavka 2 - 5000,00</p>
        <p>Stavka 3 - 5000,00</p>
        <p>Stavka 4 - 5000,00</p>
        <p>Cena bez PDV-a</p>
        <p>Iznos poreza: 10%</p>
        <p>Iznos racuna: 22.000,00</p>
        <br>

        <p>Preduzece: Preduzece 1</p>
        <p>Stavka 1 - 5000,00</p>
        <p>Stavka 2 - 5000,00</p>
        <p>Stavka 3 - 5000,00</p>
        <p>Stavka 4 - 5000,00</p>
        <p>Cena bez PDV-a</p>
        <p>Iznos poreza: 10%</p>
        <p>Iznos racuna: 22.000,00</p>
        <br>

        <p>Preduzece: Preduzece 1</p>
        <p>Stavka 1 - 5000,00</p>
        <p>Stavka 2 - 5000,00</p>
        <p>Stavka 3 - 5000,00</p>
        <p>Stavka 4 - 5000,00</p>
        <p>Cena bez PDV-a</p>
        <p>Iznos poreza: 10%</p>
        <p>Iznos racuna: 22.000,00</p>
        <br>

        <p>Preduzece: Preduzece 1</p>
        <p>Stavka 1 - 5000,00</p>
        <p>Stavka 2 - 5000,00</p>
        <p>Stavka 3 - 5000,00</p>
        <p>Stavka 4 - 5000,00</p>
        <p>Cena bez PDV-a</p>
        <p>Iznos poreza: 10%</p>
        <p>Iznos racuna: 22.000,00</p>
        <br>

        <p>Preduzece: Preduzece 1</p>
        <p>Stavka 1 - 5000,00</p>
        <p>Stavka 2 - 5000,00</p>
        <p>Stavka 3 - 5000,00</p>
        <p>Stavka 4 - 5000,00</p>
        <p>Cena bez PDV-a</p>
        <p>Iznos poreza: 10%</p>
        <p>Iznos racuna: 22.000,00</p>
    </div>
    <div class="login">
        <p class="login-item login-title">Prijava</p>
        <p style="color: red">{{ message }}</p>
        <input type="text" placeholder="Unesite korisničko ime" class="login-item login-input" [(ngModel)]="username">
        <input type="password" placeholder="Unesite lozinku" class="login-item login-input" [(ngModel)]="password">
        <div class="login-item login-input login-type">
            <div class="login-type-item">
                <label>
                    <input type="radio" value="customer" [(ngModel)]="userType">
                    <span>Fizičko lice</span>
                </label>
            </div>
            <div class="login-type-item">
                <label>
                    <input type="radio" value="company" [(ngModel)]="userType">
                    <span>Pravno lice</span>
                </label>
            </div>
        </div>
        <button class="login-item login-button" (click)="login()">Uloguj se</button>
        <span class="login-item login-text">
            Nemate nalog?
            <a routerLink="../register" class="login-link">Registrujte se</a>
        </span>
    </div>
</div>