<div class="container">
    <div class="receipts">
        <h2 class="receipts-heading">Poslednjih 5 racuna</h2>
        <div class="receipt-data" *ngFor="let receipt of filteredReceipts">
            <h3 class="list-item">{{ receipt.companyName }}</h3>
            <table>
                <tr>
                    <th class="list-item">Proizvod</th>
                    <th class="list-item">Količina</th>
                    <th class="list-item">PDV</th>
                    <th class="list-item">Cena sa PDV</th>
                </tr>
                <tr *ngFor="let item of receipt.items" class="receipt-item">
                    <td class="list-item">{{ item.name }}</td>    
                    <td class="list-item">{{ item.quantity }}.00</td>       
                    <td class="list-item">{{ item.tax }}%</td>         
                    <td class="list-item">{{ item.priceTax }}</td>     
                </tr>
                <tr>
                    <td class="list-item">
                        <h4>Cena bez PDV: </h4>
                    </td>
                    <td class="list-item">
                        {{ receipt.totalPriceNoTax }}
                    </td>                    
                </tr>
                <tr>
                    <td class="list-item">
                        <h4>Iznos računa: </h4>
                    </td>
                    <td class="list-item">
                        {{ receipt.totalPriceTax }}
                    </td>                    
                </tr>
            </table>
        </div>
    </div>
    <div class="login">
        <p class="login-item login-title">Prijava</p>
        <p class="message">{{ message }}</p>
        <input type="text" placeholder="Unesite korisničko ime" class="login-item login-input" [(ngModel)]="username">
        <input type="password" placeholder="Unesite lozinku" class="login-item login-input" [(ngModel)]="password">
        <div class="login-item login-input login-type">
            <div class="login-type-item">
                <label>
                    <input type="radio" value="customer" [(ngModel)]="userType">
                    <span>Fizičko lice</span>
                </label>
            </div>
            <div class="login-type-item">
                <label>
                    <input type="radio" value="company" [(ngModel)]="userType">
                    <span>Pravno lice</span>
                </label>
            </div>
        </div>
        <button class="login-item login-button" (click)="login()">Uloguj se</button>
        <span class="login-item login-text">
            Nemate nalog?
            <a routerLink="../register" class="login-link">Registrujte se</a>
        </span>
    </div>
</div>