/* app-register selector, equivalent of content in the main layout */
:host {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

/* main box */
.container {
    display: flex;
    width: 800px;
    border-radius: 3px;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    height: 880px;
}

/* receipts box */
.receipts {
    background-color: lightgray;
    color: black;
    flex: 1;
    overflow-y: auto;
    border: 1px solid #3D4C41;
}

.receipt-data {
    margin-bottom: 1em;
}

.receipts-heading {
    margin-bottom: 1em;
}

@media (max-width: 800px) {
    .receipts {
        flex: 0;
    }

    .container {
        width: 400px
    }
}

/* register box */
.register {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #3D4C41;
    width: 400px;
    overflow-y: auto;
}

.message {
    color: #F00;
    white-space: pre-wrap
}

/* Every item in the register box */
.register-item {
    font-size: 1rem;
    margin-bottom: .5rem;
}

/* title text */
.register-title {
    font-size: 2.5rem;
    margin: 1.5em 0;
}

/* button and inputs */
.register-button,
.register-input,
.back-button {
    width: 85%;
    padding: .5em .5em;
    border-radius: 3px;
}

.register-button {
    margin-top: 1.5rem;
    background-color: #4085C9;
    color: #FFF;
    cursor: pointer;
}

.back-button {
    margin-bottom: 2rem;
    background-color: lightgray;
    color: #000;
    cursor: pointer;
}

.list-item {
    padding-right: .8em;
    padding-bottom: .3em;
}