<div class="container">
    <div class="receipts">
        <h3>Poslednjih 5 racuna</h3>
        <br>
        <p>Preduzece: Preduzece 1</p>
        <p>Stavka 1 - 5000,00</p>
        <p>Stavka 2 - 5000,00</p>
        <p>Stavka 3 - 5000,00</p>
        <p>Stavka 4 - 5000,00</p>
        <p>Cena bez PDV-a</p>
        <p>Iznos poreza: 10%</p>
        <p>Iznos racuna: 22.000,00</p>
        <br>

        <p>Preduzece: Preduzece 1</p>
        <p>Stavka 1 - 5000,00</p>
        <p>Stavka 2 - 5000,00</p>
        <p>Stavka 3 - 5000,00</p>
        <p>Stavka 4 - 5000,00</p>
        <p>Cena bez PDV-a</p>
        <p>Iznos poreza: 10%</p>
        <p>Iznos racuna: 22.000,00</p>
        <br>

        <p>Preduzece: Preduzece 1</p>
        <p>Stavka 1 - 5000,00</p>
        <p>Stavka 2 - 5000,00</p>
        <p>Stavka 3 - 5000,00</p>
        <p>Stavka 4 - 5000,00</p>
        <p>Cena bez PDV-a</p>
        <p>Iznos poreza: 10%</p>
        <p>Iznos racuna: 22.000,00</p>
        <br>

        <p>Preduzece: Preduzece 1</p>
        <p>Stavka 1 - 5000,00</p>
        <p>Stavka 2 - 5000,00</p>
        <p>Stavka 3 - 5000,00</p>
        <p>Stavka 4 - 5000,00</p>
        <p>Cena bez PDV-a</p>
        <p>Iznos poreza: 10%</p>
        <p>Iznos racuna: 22.000,00</p>
        <br>

        <p>Preduzece: Preduzece 1</p>
        <p>Stavka 1 - 5000,00</p>
        <p>Stavka 2 - 5000,00</p>
        <p>Stavka 3 - 5000,00</p>
        <p>Stavka 4 - 5000,00</p>
        <p>Cena bez PDV-a</p>
        <p>Iznos poreza: 10%</p>
        <p>Iznos racuna: 22.000,00</p>
    </div>
    <div class="register">
        <p class="register-item register-title">Registracija</p>
        <p class="message">{{ message }}</p>
        <input type="text" placeholder="Ime i prezime odgovornog lica" class="register-item register-input" [(ngModel)]="repName">
        <input type="text" placeholder="Korisničko ime" class="register-item register-input" [(ngModel)]="username">
        <input type="password" placeholder="Lozinka" class="register-item register-input" [(ngModel)]="password">
        <input type="password" placeholder="Potvrdi lozinku" class="register-item register-input" [(ngModel)]="passwordSecond">
        <input type="text" placeholder="Kontakt telefon" class="register-item register-input" [(ngModel)]="phone">
        <input type="text" placeholder="E-mail adresa" class="register-item register-input" [(ngModel)]="email">
        <input type="text" placeholder="Naziv preduzeća" class="register-item register-input" [(ngModel)]="name"> 
        <input type="text" placeholder="Adresa sedišta preduzeća" class="register-item register-input" [(ngModel)]="address">
        <input type="text" placeholder="Poreski identifikacioni broj" class="register-item register-input" [(ngModel)]="pib">
        <input type="text" placeholder="Matični broj preduzeća" class="register-item register-input" [(ngModel)]="mb">
        <input type="file" class="register-item register-input" (change)="onFileChanged($event)" accept=".jpg, image/png">
        <button class="register-item register-button" (click)="register()">Registruj se</button>
        <button class="register-item back-button" routerLink="../login">Nazad</button>
    </div>
</div>