:host {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
}

/* Navbar style */
.navbar ul {
    display: flex;
    list-style: none;
    justify-content: space-around;
    background-color: #B0B0B0;
    font-size: 1.25rem;
}

.navbar ul a {
    flex-grow: 1;
    text-decoration: none;
    color: white;
}

.navbar ul a li {
    padding: 1em;
    text-align: center;
    cursor: pointer;
}


.navbar ul li:hover {
    background-color: gray;
}