<div class="navbar">
    <ul>
        <a routerLink="info" (click)="selectPage('info')" [ngClass]="{'navbar-selected': selectedPage === 'info'}">
            <li>Podaci</li>
        </a>
        <a routerLink="buyers" (click)="selectPage('buyers')" [ngClass]="{'navbar-selected': selectedPage === 'buyers'}">
            <li>Naručioci</li>
        </a>
        <a routerLink="goods" (click)="selectPage('goods')" [ngClass]="{'navbar-selected': selectedPage === 'goods'}">
            <li>Robe i usluge</li>
        </a>
        <a routerLink="categories" (click)="selectPage('categories')" [ngClass]="{'navbar-selected': selectedPage === 'categories'}">
            <li>Raspored artikala</li>
        </a>
        <a routerLink="tables" (click)="selectPage('tables')" [ngClass]="{'navbar-selected': selectedPage === 'tables'}" *ngIf="company.category === 'ugostitelj'">
            <li>Raspored stolova</li>
        </a>
        <a (click)="selectPage('receipts')" [ngClass]="{'navbar-selected': (selectedPage === 'receipts-caterer') || (selectedPage === 'receipts-store')}">
            <li>Izdavanje računa</li>
        </a>
        <a routerLink="reports" (click)="selectPage('reports')" [ngClass]="{'navbar-selected': selectedPage === 'reports'}">
            <li>Pregled izveštaja</li>
        </a>
        <a routerLink="company-pw-change" (click)="selectPage('company-pw-change')" [ngClass]="{'navbar-selected': selectedPage === 'company-pw-change'}">
            <li>Promena lozinke</li>
        </a>
    </ul>
</div>

<div class="content">
    <router-outlet></router-outlet>
</div>

<div class="page-bottom">
    <button class="logout-button" (click)="logout()">Izloguj se</button>
</div>