.company-list {
    display: flex;
    flex-direction: column;
    margin: 2rem;
}

.list-element {
    display: flex;
    max-width: 50vw;
    justify-content: space-between;
    background-color: lightgray;
    color: black;
    padding: 1em;
    border: 1px solid gray;
    align-items: center;
}

.list-element label {
    flex: 1;
    font-weight: bold;
    font-size: 1.5rem;
}

.list-element button {
    margin: .5em;
    padding: 1em;
    border-radius: 3px;
    color: white;
    background-color: gray;
    cursor: pointer;
}