<div class="content">
    <ng-container *ngIf="!confirmedFacility">
        <div class="content-row heading">Izaberite tip lokala</div>
        <div class="type-outer-wrapper content-row">
            <div class="type-inner-wrapper">
                <label>
                    <span>Magacin</span>
                    <input type="radio" value="warehouse" [(ngModel)]="currentFacility.type">
                </label>
            </div>
            <div class="type-inner-wrapper">
                <label>
                    <span>Prodavnica</span>
                    <input type="radio" value="shop" [(ngModel)]="currentFacility.type">
                </label>
            </div>
        </div>

        <div class="content-row heading" *ngIf="currentFacility.type">Izaberite lokal</div>

        <select class="content-row" *ngIf="currentFacility.type === 'warehouse'" [(ngModel)]="currentFacility.name">
            <option *ngFor="let warehouse of company.warehouses">
                {{ warehouse.warehouseName }}
            </option>
        </select>

        <select class="content-row" *ngIf="currentFacility.type === 'shop'" [(ngModel)]="currentFacility.name">
            <option *ngFor="let cashRegister of company.cashRegisters">
                {{ cashRegister.cashRegisterLocation }}
            </option>
        </select>

        <div class="button-container">
            <button class="pretty-button" *ngIf="currentFacility.type" (click)="confirmFacility()">Potvrdi</button>
        </div>

        <div style="color: red">{{ message }}</div>
    </ng-container>

    <ng-container *ngIf="confirmedFacility">
        <h2 *ngIf="currentFacility.type === 'warehouse'">Magacin: {{ currentFacility.name }}</h2>
        <h2 *ngIf="currentFacility.type === 'shop'">Prodavnica: {{ currentFacility.name }}</h2>
        <div class="button-container">
            <button class="pretty-button" (click)="backToSelect()">Nazad</button>
        </div>
        <div class="products-receipt-container">
            <table>
                <tr>
                    <th></th>
                    <th class="table-element">Šifra artikla</th>
                    <th class="table-element">Naziv artikla</th>
                    <th class="table-element">Jedinica mere</th>
                    <th class="table-element">Stopa poreza</th>
                    <th class="table-element">Cena</th>
                    <th></th>
                </tr>
                <tr *ngFor="let product of filteredProducts">
                    <td>
                        <div class="image-container">
                            <img src="{{ product.image }}" alt="">
                        </div>
                    </td>
                    <td class="table-element">{{ product.id }}</td>
                    <td class="table-element">{{ product.name }}</td>
                    <td class="table-element">{{ product.unit }}</td>
                    <td class="table-element">{{ product.tax }}%</td>
                    <td class="table-element">{{ product.facilities[getIndex(product)].priceSell }}din</td>
                    <td class="table-element">
                        <button class="pretty-button">Dodaj</button>
                    </td>
                </tr>
            </table>

            <div class="receipt-container flex-item">

            </div>

        </div>

    </ng-container>



</div>